<ng-container>
  @if (root && item.visible !== false) {
    <div class="layout-menuitem-root-text">{{ item.label }}</div>
  }

  @if ((!item.routerLink || item.items) && item.visible !== false) {
    <a tabindex="0" pRipple
       [attr.href]="item.url"
       (click)="itemClick($event)"
       [attr.target]="item.target"
    >
      <i class="layout-menuitem-icon"
         [ngClass]="item.icon"
      ></i>
      <span class="layout-menuitem-text">{{ item.label }}</span>
      @if (item.items) {
        <i class="pi pi-fw pi-angle-down layout-submenu-toggler"></i>
      }
    </a>
  }

  @if ((item.routerLink && !item.items) && item.visible !== false) {
    <a routerLinkActive="active-route" tabindex="0" pRipple
       (click)="itemClick($event)"
       [routerLink]="item.routerLink"
       [routerLinkActiveOptions]="item.routerLinkActiveOptions||{ paths: 'exact', queryParams: 'ignored', matrixParams: 'ignored', fragment: 'ignored' }"
       [fragment]="item.fragment" [queryParamsHandling]="item.queryParamsHandling"
       [preserveFragment]="item.preserveFragment"
       [skipLocationChange]="item.skipLocationChange" [replaceUrl]="item.replaceUrl" [state]="item.state"
       [queryParams]="item.queryParams"
       [attr.target]="item.target"
    >
      <i class="layout-menuitem-icon"
         [ngClass]="item.icon"
      ></i>
      <span class="layout-menuitem-text">{{ item.label }}</span>
      @if (item.items) {
        <i class="pi pi-fw pi-angle-down layout-submenu-toggler"></i>
      }
    </a>
  }

  @if (item.items && item.visible !== false) {
    <ul>
      <ng-template ngFor let-child let-i="index"
                   [ngForOf]="item.items"
      >
        <li app-sidebaritem
            [item]="child"
            [index]="i"
            [parentKey]="key"
        ></li>
      </ng-template>
    </ul>
  }
</ng-container>
